# Python compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/
.Python

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Celery beat schedule file
celerybeat-schedule

# dotenv
.env

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Cython debug symbols
cython_debug/

# VS Code
.vscode/

# Other
.DS_Store

# Ignore temporary files
processing/temp_file_storage/
processing/resampled_audio/

# Ignore model weights
src/models/*.pth

# Ignore ffmpeg folder
ffmpeg/

# Specific files
ribbitradar.log
model_metadata.txt


echo ".env" >> .gitignore
